*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/ante-samarzija-lsmu0rUhUOk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: 130%;
    background-position-y: 60%;
    background-color:black;
    font-family: sans-serif;
    letter-spacing: 1px;
    padding-top: 2%;
}
.top{
    display: flex;
    align-items: center;
}
.top h1{
    padding-left: 1em;
}
i{
    cursor: pointer;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    padding: 0.8em 1.2em;
}
a:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(46, 46, 46);
}
li{
    list-style: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
header ul{
    display: flex;
}
header ul li{
    padding: 3em;
}
.fa-search{
    padding-right: 2em;
}
#check:checked ~ body{
    background-color: white !important;
   
}
#search{
    color: black;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    color: white;
}
.write-up{
    max-width: 30%;
    padding-top: 3%;
}
.bolder{
    font-size: 3.5em;
}
span{
    color: rgb(106, 46, 3);
}
p{
    padding: 3em 0;
    font-stretch: expanded;
}
.circles{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.circles i{
   padding: 1rem 0;
}
.order-now{
    padding: 1em;
    color: white;
    background-color: rgb(106, 46, 3);
    border-radius: 0.5em;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}
.order-now:hover{
    background-color: rgb(108, 63, 31);
}
.get-started{
    padding: 0.8em 1em;
    color: white;
    background-color: black;
    border: rgb(106, 46, 3) 3px solid ;
    border-radius: 0.5em;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}
.get-started:hover{
    background-color: rgb(39, 39, 39);
}
.waves{
    position: absolute;
}
.wave{
    position: absolute;
    z-index: 9999;
}
footer{
    float: right;
    padding-right: 5%;

}
.fa-twitter,
.fa-facebook,
.fa-instagram{
    font-size: 20px;
    padding: 1em;
    padding-top: -5em;
}